services:
  prometheus:
    image: prom/prometheus
    container_name: {{ prometheus_container_name }}
# This is a security risk, in real project we have to build our own image with the necessary user or open the sock in another way.
    user: root 
    volumes:
      - ./monitoring.rules.yml:/etc/prometheus/monitoring.rules.yml
      - ./alerts.rules.yml:/etc/prometheus/alerts.rules.yml
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - "9090:9090"
    restart: always
    networks:
      - monitoring

volumes:
  prometheus_data:

networks:
  monitoring:
    external: true

