services:
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./monitoring.rules.yml:/etc/prometheus/monitoring.rules.yml
      - ./alerts.rules.yml:/etc/prometheus/alerts.rules.yml
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - "9090:9090"
    restart: always
    networks:
      - monitoring

volumes:
  prometheus_data:

networks:
  monitoring:
    external: true

