services:
  prometheus:
    image: {{ prometheus_image }}:{{ prometheus_image_tag }}
    container_name: {{ prometheus_container_name }}
    user: "{{ prometheus_user }}"
    volumes:
      - ./monitoring.rules.yml:/etc/prometheus/monitoring.rules.yml
      - ./alerts.rules.yml:/etc/prometheus/alerts.rules.yml
      - ./tests.yml:/etc/prometheus/tests.yml
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - "9090:9090"
    restart: always
    networks:
      - monitoring

volumes:
  prometheus_data:

networks:
  monitoring:
    external: true

