services:
  alertmanager:
    image: {{ alertmanager_image }}:{{ alertmanager_image_tag }}
    container_name: {{ alertmanager_container_name }}
    ports:
      - "9093:9093"
    restart: always
    networks:
      - monitoring
    labels:
      prometheus_job: "alertmanager"
      prometheus_port: "9093"

networks:
  monitoring:
    external: true